*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  background-color:#602fdf;
}
.logo-box{
  background-color: #fff;
    padding: 30px 108px;
    width: 508px;
    /*next four line is used for center the div*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius:10px;
}
.logo{
    width:30px;
    margin-bottom: 5px;
}
.App h2{
  margin-bottom: 20px;
}
.App button{
  background:transparent;
  cursor: pointer;
  padding:10px 0;
  padding-left: 50px;
  border-radius:20px;
  border:1px solid #999;
  margin-bottom:20px;
  width:100%;
  display:flex;
  align-items: center;
  
}
.App button img{
  width:20px;
  margin-right: 5px;
  margin-left: 16px;
}

.App hr{
  margin-top:2px;
}
.logo-box span{
  display:block;
  width:40px;
  margin:auto; 
  margin-top:-10px;
  background: #fff;
  font-size: 14px;
}
.logo-box input{
  width:100%;
  padding:12px 0px;
  background: transparent;
  outline:0;
  border-radius:4px;
  border:1px solid #999;
  margin-top:10px;
}
::placeholder{
  color:#333;
  font-weight:500;
}
.logo-box form button{
  background-color: black;
  color:#fff;
  border:0;
  margin-top:15px;
  display: block;
  padding:12px;
  text-align: center;
  margin-bottom:10px;
}
.Fp{
  display:block;
  text-align: center;
}
.logo-box p{
  color:#555;
  font-size: 14px;
  margin:40px 0px 30px;
}
.logo-box p a{
  text-decoration: none;
  color:#359cf0;
}